<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>recuperar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title size="large">recuperar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-input label="Email" type="email" placeholder="Ingresa tu correo"></ion-input>
  </ion-item>
  <ion-button>Recuperar contraseña</ion-button>
</ion-content>
